body {
    background: #555;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
}

table {
    margin: 15px;
    justify-items: center;
    word-break: break-word;
    font-size: x-large;
}

th,
td {
    border: 1px solid black;
}

button:hover {
    background-color: #b7bcd8;
}

form {
    flex-direction: column;
    position: relative;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}
form input {
    padding: 3px;
    font-size: x-large;
    margin: 0.3rem;
    border-radius: 5px;
}
form label {
    margin-top: 4px;
    font-size: x-large;
}
form button {
    border: 1px solidd black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    font-size: x-large;
}

#connectionTitle {
    position: relative;
    align-self: center;
    top: 50%;
}

#stayLoggedInLabel {
    color: rgb(235, 235, 235);
    font-size: large;
}

#forms{
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: center;
    top: 50%;
    transform: translateY(-50%);
}
#registrationForm{
    display: none;
}
#logInForm {
    position: relative;
    display: none;
    flex-direction: column;
}
#signupButton{
    font-size: medium;
}
#signupButtonLabel {
    margin-top: 0.8rem;
    font-size: large;
}
#registrationSignupButton {
    margin-top: 0.8rem;
    font-size: x-large;
}
#checkboxDiv{
    margin-top: 1rem;
    display: flex;
}
#loginButton{
    margin-top: 1rem;
    font-size: large;
}
#stayLoggedIn {
    align-items: center;
    width: 1.2rem;
    height: 1.2rem;
}
#backToLogin {
    font-size: medium;
    margin-top: 1rem;
    padding: 0.3rem;
}

.contextMenu >*{
    font-size: large;
    padding: 0.2rem;
    border: 1px solid black;
    border-radius: 4px;
}

#contactContainer{
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0px;
    width: 28vw;
    height: 100vh;
    z-index: 2;
}
#contactControls{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0px;
    width: 28vw;
}
#contactDiv {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0px;
    width: 25vw;
}
#contactInputDiv {
    display: flex;
    flex-direction: row;
}
#addContactButton {
    border-radius: 6px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-size: medium;
}
#contactInput {
    margin: 0.2rem;
    margin-left: 0.4rem;
    padding: 0.1rem;
    font-size: medium;
}
#contactButton {
    border-radius: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 5px;
    font-size: medium;
    position: relative;
}
#alertDiv {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0.4rem;
    margin: 5px;
    font-size: medium;
    color: white;
}
.newContactDiv {
    padding: 4px;
    margin-top: 6px;
    font-size: medium;
    border: 1px solid grey;
    border-radius: 5px;
}
.newContactDiv:hover {
    background-color: rgb(133, 141, 151);
}

#adminTable {
    display: none;
}

#adminButton {
    display: none;
    justify-content: center;
    flex-direction: column;
    margin-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    font-size: medium;
    flex: 1;
}

#backupControls {
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: end;
    right: 0px;
    width: 25vw;
    margin: 8px;
}
#backupButton {
    position: relative;
    margin: 1vw;
    padding: 0.3rem;
    flex: 1;
    font-size: medium;
    width: 18vw;
}
#uploadBackupButton {
    position: relative;
    padding: 0.3rem;
    margin: 1vw;
    flex: 1;
    font-size: medium;
    width: 18vw;
}
#fileUpload {
    position: relative;
    margin: 1vw;
    flex: 1;
    width: 18vw;
}
#logout {
    position: relative;
    margin: 1vw;
    padding: 0.4rem;
    font-size: medium;
    width: fit-content;
}

#chatDiv{
    min-width: 340px;
    display: none;
    flex-direction: column;
    flex: 20;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    min-height: 0;
}
#userMessages {
    min-width: 340px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    margin: 8px;
    flex: 20;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
}
.message {
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgb(46, 46, 46);
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 4px;
    background-color: rgb(70, 70, 70);    
    font-size:x-large ;
}
.message:hover {
    background-color: grey;
}
.message:first-child {
    margin-top: auto;
}
.mes {
    padding-left: 0.3rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    flex: 8;
    overflow-wrap: anywhere;
    word-break: break-word;
}
.mesTime {
    flex: 1;
    font-size: medium;
}
.mesDay {
    transform: translateX(2vw);
    flex: 1;
    font-size: medium;
    width: 4vw;
}

#contextMenu {
    border: solid #ccc;
    font-size: large;
    border-radius: 4px;
    background-color: white;
    width: 19vw;
}

#inputField {
    /* field-sizing: content; */
    align-items: center;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex: 1;
}
#user_input {
    border-radius: 5px;
    min-height: 2rem; 
    resize: none;
    max-height: 20vh; 
    height: auto;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin-right: 0.3rem;
    margin-left: 0.1rem;
    flex: 8;
    font-size: xx-large;
}
#saveButton {
    flex: 1;
    padding: 0.2rem;
    border-radius: 5px;
    font-size: x-large;
    width: fit-content;
}
